body{
  margin: 0;
}

.fundo {
  background: rgb(58, 79, 202);
  background-image: url(/img/png.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 25px;
}

.logo-imerssao{
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-family: monospace;
  margin-bottom: 20px;
}

.logo-imerssao img{
  width: 15%;
  
}

.infos{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

.texto{
  margin: 0;
}

.inputs{
  display: block;
  height: 37px;
  width: 295px;
  margin: auto;
  margin-top: 15px;
}

.est-botao{
  margin: auto;
  width: 50%;
  margin-top: 40px;
  margin-left:44%;
  margin-bottom: 30px;
}

.botao{
  font-weight: 500;
  font-size: 20px;
  font-family: monospace;
  background: rgb(172, 36, 63);
  text-align: center;
  padding: 15px 65px;
  margin: auto;
  display: table;
  margin-top: 40px;
  border-radius: 30px;
}

.tela{
  background-color: rgba(255, 255, 255, 0.123);
  color: rgb(255, 255, 255);
  width: 17%;
  height: 140px;    
  margin: auto;
  margin-top: 30px;
  padding: 5px 20px; 
  min-width: 250px;   
}

.suaNota{
  margin-top: 30px;
  font-family: sans-serif;
  display: inline-block;
}

.notareal{
  font-family: sans-serif;
  display: inline-block;
  margin-left: 5px;
}

.passouounao{
  font-family: sans-serif;
  margin-top: 0px;

}